#Ignore thumbnails created by Windows
Thumbs.db

#Include the release binaries ".Xll" files
OctopartXll/bin/Release/**
!OctopartXll/bin/Release/*packed*.Xll

#Otherwise ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

#Nuget packages folder
packages/
